RewriteEngine On
RewriteBase /tnfindhouse
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|asset|css|js|less)
RewriteRule ^(.*)$ /tnfindhouse/index.php?/$1 [L]
